@import '../../Res/Styles/keyframes.scss';

.main {
  flex: 1 0 auto;
  padding: 15px 20px !important;
  animation: smoothAppearance .4s ease;
}

.title {
  font-size: 26px;
  font-weight: 700;
  margin-bottom: 10px;
}