@import '../../Res/Styles/colors.scss';

.header {
  flex-shrink: 0;
  color: white;
  background-color: $main_blue;
  box-shadow: 0px 0px 10px 5px $main_blue;
}

.nav_wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 5px 0px;
  &__start {
    justify-content: flex-start;
  }
}

.logo {
  font-size: 26px;
  padding: 0 4px;
  border-radius: 10px;
  outline: none;
  cursor: pointer;
  user-select: none;
  transition: all ease-out .2s;
  &:hover, &:focus {
    background-color: rgba(white, .1);
  }
}

.logo__sign_in {
  font-size: 26px;
  outline: none;
  user-select: none;
}

.log_out {
  position: relative;
  font-size: 16px;
  color: white;
  &::after {
    position: absolute;
    content: "";
    bottom: 0;
    left: 6px;
    height: 1px;
    width: 0;
    background-color: white;
    transition: all ease-out .2s;
  }
  &:hover::after, &:focus::after {
    width: 83%;
  }
}

.user_block {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.hi_user {
  font-size: 16px;
  margin-left: 12px;
}