@import '../../Res/Styles/colors.scss';

.sign_in {
  width: 300px;
  box-shadow: 0px 0px 10px 2px rgba(19, 55, 82, 0.2);
  border-radius: 20px;
  text-align: center;
  padding: 30px 10px;
  transition: all ease .2s;
  &:hover {
    box-shadow: 0px 0px 10px 2px rgba(19, 55, 82, 0.35);
  }
}

.title {
  margin-bottom: 20px;
  font-size: 36px;
  font-weight: 700;
  color: $main_blue;
}

.text {
  font-size: 16px;
  margin-bottom: 30px;
}

.btn_wrapper {
  display: flex;
  justify-content: space-around;
  margin-bottom: 5px;
}

.facebook_login_btn {
  width: 110px;
  color: white;
  font-size: 16px;
  background-color: $main_blue;
  border-radius: 20px;
  padding: 8px 5px;
  transition: all ease .2s;
  &:hover, &:focus {
    background-color: lighten($main_blue, 10%);
  }
}

.google_login_btn {
  font-family: Poppins, sans-serif !important;
  display: inline-block !important;
  box-shadow: none !important;
  border: none !important;
  width: 110px !important;
  font-weight: 400 !important;
  color: white !important;
  font-size: 16px !important;
  background-color: $main_blue !important;
  border-radius: 20px !important;
  padding: 8px 5px !important;
  transition: all ease .2s !important;
  &:hover, &:focus {
    background-color: lighten($main_blue, 10%) !important;
  }
}