@import '../../Res/Styles/colors.scss';

.statistic_item {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  color: $main_blue;
  margin-right: 15px;
}

.value {
  font-size: 16px;
  margin-left: 4px;
}