@import '../../Res/Styles/keyframes.scss';
@import '../../Res/Styles/colors.scss';

.page_not_found {
  flex: 1 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 22px;
  text-align: center;
  animation: smoothAppearance ease .3s;
}

.title {
  font-size: 34px;
  font-weight: 700;
  color: $main_blue;
}

.go_main_link {
  font-weight: 700;
  color: $main_blue !important;
  text-decoration: underline;
  outline: none;
  transition: color ease .3s;
  &:hover, &:focus {
    color: lighten($main_blue, 10%) !important;
  }
}